body {
  font-family: 'Roboto', sans-serif;
}

a {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  letter-spacing: 0.049rem;
  font-weight: 200;
  font-size: $font-size-small;
  line-height: 2.189rem;
}

h1 {
  font-weight: 600;
  font-size: $font-size-xlarge;
  line-height: 3.75rem;
}

h2 {
  font-weight: 400;
  font-size: $font-size-medium;
}

h3 {
  font-weight: 400;
  font-size: $font-size-small;
}
